.decision {
  margin-top: 50px;

  .question {
    font-size: 1.3em;
    padding: 5px;
  }

  .card {
    margin: 30px auto 0 auto;
    box-shadow: 0 0 60px 10px $border-color;
    width: $card-width;
    height: $card-width * $card-height-to-width;
    background-image: url('~assets/img/florka.jpg');
    background-size: contain;
    cursor: grab;
    
    @media(max-width: 680px) {
      height: ($card-width + 10vw) * $card-height-to-width;
      width: $card-width + 10vw;
    }

    &-text {
      background-color: rgba(0, 0, 0, 0.73);
      color: white;
      width: 100%;
      padding: 15px 5px;
      // opacity: 0;
    }
  }
}
