*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'BioRhyme';
  src: url('~assets/BioRhyme.otf')
}

$backgrounds: 1800px, 1400px, 1000px, 600px, 400px;
$container-width: 60vw;
$border-color: rgb(7, 77, 30);

body {
  background-image: url('~assets/background.jpg');
}

@each $size in $backgrounds {
  @media (max-width: $size) {
    body {
      background-image: url(#{'~assets/background.jpg?size='$size})
    }
  }
}
